AddType application/wasm .wasm
AddType application/javascript .js
AddType application/manifest+json .webmanifest

<IfModule mod_headers.c>
  <FilesMatch "^(index\.html|manifest\.webmanifest|service-worker\.js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </FilesMatch>
</IfModule>

Options -Indexes
